<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="MageMastery_News::news" title="News" sortOrder="100">
                    <resource id="MageMastery_News::categories" title="Categories" sortOrder="10" />
                    <resource id="MageMastery_News::articles" title="Articles" sortOrder="20" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>